.register-pet-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  text-align: center;
  color: var(--primary-color);
  padding: 20px;
}

.register-pet-container img {
  width: 100px;
  margin-bottom: 20px;
}

.register-pet-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--primary-color);
}

.register-pet-item {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  --background: none;
  --color: var(--primary-color);
}

.register-pet-label {
  color: var(--primary-color) !important;
  font-size: 16px;
}

.register-pet-input {
  background-color: var(--color-input);
  margin: 5px 0;
  color: var(--black-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-pet-button {
  --background: var(--secondary-color);
  --color: var(--black-color);
  font-weight: bold;
  height: 50px;
  font-size: 18px;
}

.register-pet-button:hover {
  --background: #00a999;
}

.cancel-button {
  --background: var(--gray-color);
  --color: var(--black-color);
  font-weight: bold;
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
}

.cancel-button:hover {
  --background: #b0b0b0;
}
