.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--primary-color);
  padding: 20px;
  padding-bottom: 70px; /* Espaço para o rodapé */
}

.logo {
  box-shadow: 0 5px 5px 0 var(--black-color);
  border-radius: 0 0 14px 14px;
  margin-bottom: 20px;
}

.welcome-container img {
  width: 100px;
  margin-bottom: 20px;
}

.welcome-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--primary-color);
}

.search-container {

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: var(--primary-color);
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.search-item {
  margin-bottom: 10px;
  --background: none;
  --color: var(--primary-color);
}

.search-input {
  width: 100%;
  margin: 5px 0;
  background-color: #efefef;
  color: var(--black-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
  --background: var(--secondary-color);
  --color: var(--black-color);
  font-weight: bold;
  height: 50px;
  font-size: 18px;
}

.search-button:hover {
  --background: #00a999;
}

.register-pet-button {
  --background: var(--primary-color);
  --color: var(--background-color);
  font-weight: bold;
  height: 50px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--gray-color);
}


.testimonials-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.testimonial {
  width: 100%;
  max-width: 400px;
  background-color: var(--background-color);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--black-color);
  border-radius: 8px;
  color: var(--text-color);
}

.testimonial p {
  margin: 0 0 10px 0;
}

.testimonial p:last-child {
  margin: 0;
}

/* Estilos do rodapé */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;


}

.footer-toolbar {
  --background: var(--primary-color);
  --color: var(--background-color);
  padding: 0;
}

.footer-tab-bar {

  --background: var(--primary-color);
  --color: var(--background-color);
  display: flex;
  justify-content: space-around;
}

.footer-tab-bar ion-tab-button {
  --color: var(--background-color);
}

.footer-tab-bar ion-tab-button:hover ion-icon,
.footer-tab-bar ion-tab-button:hover ion-label {
  color: var(--text-color);
}
